<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <section th:fragment="longFragment" class="container">
    <div>line 1</div>
    <div>line 2</div>
    <div>line 3</div>
    <div>line 4</div>
    <div>line 5</div>
    <div>line 6</div>
    <div>line 7</div>
    <div>line 8</div>
    <div>line 9</div>
    <div>line 10</div>
    <div>line 11</div>
    <div>line 12</div>
    <div>line 13</div>
    <div>line 14</div>
    <div>line 15</div>
    <div>line 16</div>
    <div>line 17</div>
    <div>line 18</div>
    <div>line 19</div>
    <div>line 20</div>
    <div>line 21</div>
    <div>line 22</div>
    <div>line 23</div>
    <div>line 24</div>
    <div>line 25</div>
  </section>

  <div th:fragment="shortFragment">short</div>
</body>
</html>
